

.img1{
    float: right;
    
}

.small-container{
    max-width: 2000px;
    height: 57px;
   
}
.big-container{
    max-width: 2000px;
    height: auto;
    display: block;

}
.small-container-1{
    border-bottom-color: rgb(238, 238, 238);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    max-width: 100%;
    margin-left: 14px;
    margin-right: 14px;
}
.navbar{
    max-width: 490px;
    height: 56px;
    margin-left: 80px;
    margin-right: 105px;
   
}

.big-container-3{
    max-width: 700px;
    height: auto;
    margin-left: 14px;
    margin-right: 14px;
}
.navbar .navbar-nav .nav-link{
    display: inline-block;
    width: 86.44px;
    color:#00B6FE;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 16px;
     
}

.navbar .navbar-nav .nav-link:hover{
    color:#99e1fe;
}
.navbar .navbar-nav .nav-item{
    padding-left: 20px;
}
.highlight p{
    font-size: 16px;
}
p{
    font-family: "PT Serif", serif;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 24px;

}
.home-heading{
    font-size: 55px;
    font-weight: 700;
    height: 72px;
    margin-top: 20px;
    margin-bottom: 20px;

}
.div-form{
    height: 48px;
    margin-top: 50px;
    margin-bottom: 15px;
}
    
.communication-media{
    width: 50px;
    height: 300px;
    top: 211px;
    position: fixed;
}
h2{
    font-family: Lato, sans-serif;
    font-size: 40px;
    line-height: 43px;
    margin-bottom: 10px;

}
.badge{
    font-family: Arial, sans-serif;
    font-size: 14px;
    background-color: rgb(238, 238, 238);
    height: 30px;
    line-height: 20px;
    margin-bottom: 10px;
    margin-right: 10px;
    padding: 5px;
}

a{
    font-family: Arial, sans-serif;
    background-color: transparent;
    color: rgb(0,182,254);
    text-decoration: none;
}
a:hover{
    color:#99e1fe;
    text-decoration:none;
}
.father-heading, .underlined-heading{
    font-family: Lato, sans-serif;
    font-size: 48px;
    line-height: 51px;
    margin-top: 20px;
    margin-bottom: 32px;
    padding-bottom: 16px;
    

}
.underlined-heading, .listeditems{
    border-bottom: 1px solid rgb(238, 238, 238);

}
.listeditems{
    margin-bottom: 32px;
}
.quotes-heading{
    font-family: Lato, sans-serif;
    font-size: 48px;
    line-height: 51px;
    margin-top: 20px;
    margin-bottom: 10px;

}
.footer-div{
    margin-top: 60px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-top: 1px solid #eee;
    text-align: center;
    color: #aaaaaa;
}
.footer-div p{
    font-size: 14px;
}
.big-container-3 .contact{
    font-family: Lato, sans-serif;
    color: pink;
}
.big-container-3 .form-group label, .big-container-3 .form-check-label{
    font-family: Lato, sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: purple;
    

}
.card .card-body p{
    font-size: 15px;
}
@media screen and (max-width: 766px){
 .small-container-1{
     border-bottom:none;
 }
}
@media screen and (max-width: 766px){
 .mover, .big-container-3{
    margin-top:140px;
 }
    
}
.author-name{
    display: flex;
    justify-content: flex-end;
}

